{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "curly": "error",
    "eqeqeq": ["error", "always"],
    "no-global-assign": "error",
    "no-labels": "error",
    "no-multi-str": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "comma-dangle": ["error", "always-multiline"],
    "func-call-spacing": ["error", "never"],
    "keyword-spacing": ["error", { "before": true }],
    "linebreak-style": ["error", "unix"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "arrow-spacing": "error",
    "arrow-parens": ["error", "as-needed"],
    "no-var": "error",
    "prefer-const": "error",
    "no-unsafe-negation": "error",
    "array-callback-return": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-label": "error",
    "semi": ["error", "always", { "omitLastInOneLineBlock": false }],
    "space-before-blocks": "error",
    "space-in-parens": ["error", "never"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "space-unary-ops": "error",
    "spaced-comment": ["error", "always"],
    "arrow-body-style": ["error", "as-needed"],
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-rename": "error",
    "rest-spread-spacing": ["error", "never"],
    "no-trailing-spaces": "error",
    "quotes": ["error", "single"],
    "dot-notation": "off",
    "import/order": "off",
    "camelcase": "off"
  },
  "globals": {
    "chrome": "readonly"
  }
}
