@import '_mixin.scss';

.ext-menu {
  position: absolute;
  bottom: 4px;
  z-index: 2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;

  @include box-direction(reverse);
  @include box-orient(horizontal);
  @include box-line(single);
  @include flex-flow(row-reverse nowrap);

  .downloader {
    background: url(chrome-extension://__MSG_@@extension_id__/image/download.svg) transparent;
    background-size: 90%;
    background-position: center 2px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    @include opacity;
    @include transition(opacity 0.2s ease-in-out);
  }

  &.new {
    position: relative;
    bottom: unset;

    &.is-recommend {
      position: absolute;
      bottom: 3px;
      right: 32px;
    }

    &.is-novel {
      position: absolute;
      right: 3px;
      bottom: 36px;
    }

    .downloader {
      width: 26px;
      height: 26px;
      margin-top: 4px;
    }
  }
}

.image-item .ext-menu {
  right: calc(((100% - 150px) / 2) + 52px);
}

.ranking-item .ext-menu {
  right: calc(((100% - 240px) / 2) + 52px);
}

._novel-item .ext-menu {
  right: 52px;
}

.rank-detail .ext-menu {
  right: calc((100% - 100px) / 2 + 52px);
}

.ext-menu-downloader {
  position: relative;
  cursor: pointer;
}
