@import 'reset.scss';
@import 'form.scss';

body {
  background: url(chrome-extension://__MSG_@@extension_id__/image/background.jpg) repeat;
}

#app {
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
}

.navigation {
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #d6dee5;
  text-align: center;
  position: relative;
}

.navigation-item {
  display: inline-block;
  margin: 0 15px 0 15px;
  font-size: 14px;
  line-height: 50px;
  vertical-align: top;
  color: #00a1d6;
  cursor: pointer;
}

.navigation-cursor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-bottom: 1px solid #00a1d6;
  transform: translateX(0);
  transition: width 0.2s ease, transform 0.2s ease;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 0;
    width: 0;
    transform: translateX(-50%);
    border: 3px solid #00a1d6;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  align-items: center;
}

.section {
  position: relative;
  width: 65%;
  border-bottom: 1px solid #eee;
  margin-bottom: 17px;
  color: #6d757a;
}

.section-title {
  position: relative;
  padding: 0 0 15px;
}

.section-title__icon {
  float: left;
  width: 4px;
  height: 23px;
  border-radius: 4px;
  margin-top: 6px;
  background-color: #00a1d6;
}

.section-title__text {
  float: left;
  margin-left: 8px;
  color: #222;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
