@import "mixin.scss";

.ext-menu {
    position: absolute;
    bottom: 4px;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;

    @include box-direction(reverse);
    @include box-orient(horizontal);
    @include box-line(single);
    @include flex-flow(row-reverse nowrap);
}

.image-item .ext-menu {
    right: calc(((((100% - 150px) / 2) + 4px) + 40px) + 8px);
}

.ranking-item .ext-menu {
    right: calc(((((100% - 240px) / 2) + 4px) + 40px) + 8px);
}

.ext-menu-downloader {
    position: relative;
    cursor: pointer;
}

.ext-menu .downloader {
    background: url(chrome-extension://__MSG_@@extension_id__/image/download.png) transparent;
    background-size: 90%;
    background-position: center 2px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    @include opacity;
    @include transition(opacity 0.2s ease-in-out);
}